/* 样式中的关于antd的css代码 */

.login-body {
  .emailCode,
  .checkCode {
    .ant-form-item {
      width: 260px;
    }

    .ant-btn {
      flex: 1;
      height: 44px;
      margin-left: 10px;
    }
  }

  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }

  .ant-input-affix-wrapper {
    padding: 10px;
  }
}

.head-center {
  flex: 1;

  .ant-tabs-nav {
    margin: 0;

    &&::before {
      border: none;
    }
  }

  .ant-tabs-tab {
    height: 48px;
  }
}

.projectListTop {
  .ant-input-outlined {
    width: 200px;
  }
}

.projectHeaders {
  .ant-tabs-nav {
    margin: 0;
    height: 42px;
  }
}

.edit-top-middle {
  .ant-input-number-group-wrapper {
    margin-left: 20px;
    width: 120px;
  }
}

.edit-compoennt-library {
  .search-input {
    margin: 0 10px;
  }
  .ant-collapse-content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 !important;
  }
}
