@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

:root {
  --color-primary: #0099ff;
  --vp-home-hero-name-color: var(--color-primary);
  --vp-button-brand-bg: var(--color-primary);
  --vp-c-brand-1: var(--color-primary);
}
